<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <title>Register</title>
</head>
<body>
    <div class="form-container">
        <img class="book-logo" src="/images/bookshelf-svgrepo-com.svg" alt="bookshelf image">
        <legend>Signup</legend>
        <form class="flex" action="/users/register" method="POST">
            <input class="name" type="text" name="name" id="" placeholder="Name">
            <input class="username" type="text" name="username" id="" placeholder="Username">
            <input class="email" type="email" name="email" id="" placeholder="Email">
            <input class="password" type="password" name="password" id="" placeholder="Password">
            <% if(warn){ %>
                <p class="flash"><%= warn %></p>
            <%}%>
            <input class="btn" type="submit" value="signup">
            <p class="login-signup-swap-text">Already a customer? <a href="/users/login">Login</a></p>
        </form>

    </div>
</body>
</html>