<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <legend>Enter book details</legend>
    <form action="/admin/new" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <input type="text" name="title" id="" placeholder="name of the book">
        <input type="text" name="author" id="" placeholder="author of the book">
        <input type="text" name="description" id="" placeholder="write something about the book">
        <input type="text" name="category" id="" placeholder="categories">
        <input type="number" name="price" id="" placeholder="enter price">
        <input type="submit" name="" id="" value="enter book">
    </form>
</body>
</html>