<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <a href="/books/<%= review.bookId %>">back</a>

    <legend>edit your review</legend>
    <form action="/reviews/<%=review.id%>/edit" method="POST">
        <input type="text" name="content" value="<%= review.content%>">
        <input type="submit" value="edit review">
    </form>
</body>
</html>