<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body>
    <%if(!user) {%>
      <a href="/users/register">signup</a>
      <a href="/users/login">login</a>

    <%} else {%>
      <%if(user.image) { %>
        <img class="profile-img" src="/images/profiles/<%= user.image%>" alt="user-image">

      <%}%>
      <%if(user.google.image) { %>
      <img class="profile-img" src="/images/profiles/<%= user.google.image%>" alt="user-image">
      
      <%}%>
      <%if(user.github.image) { %>
      <img class="profile-img" src="/images/profiles/<%= user.github.image%>" alt="user-image">
      
      <%}%>
      <a href="/users/<%= user.id%>/edit-profile">edit profile</a>
      <a href="/users/logout">logout</a>
      <%if(user.isAdmin){ %>
        <a href="/admin">go to admin</a>
     <% }%>

    <%}%>
  </body>
</html>
