<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <title>Register</title>
</head>

<body>
    <div class="form-container">
        <img class="book-logo" src="/images/bookshelf-svgrepo-com.svg" alt="bookshelf image">
        <legend>Edit Profile</legend>
        <form class="flex-column" action="/users/<%= user.id%>/edit-profile" method="POST" enctype="multipart/form-data">
            <input class="name" type="text" name="name" value="<%= user.name%>">
            <input class="username" type="text" name="username" value="<%= user.username%>" readonly>
            <input class="email" type="email" name="email" value="<%= user.email%>" readonly>
            <input class="btn" type="submit" name="" id="" value="Update User">
           
        </form>

    </div>
</body>

</html>